{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-3 d-flex">
            <form action="#" method="POST">
                <h1>Login form</h1>
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}