body{
    background-color: #FFF4F4;
}
.left{
    background-color: #D9D9D9;
    border-radius: 8px;
    padding: 2rem;
}

.logo{
    margin-bottom: 4rem;
}

.text{
    margin-bottom: 3rem;

}

.text p{
    color: rgb(66, 66, 66);
    font-size: 1.1rem;
}

.item{
    background-color: #BFBFBF;
    text-align: center;
    color: #807d7d;
    border: none;
    border-radius: 8px;
}

.right{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5rem;
}

form{
    flex: 0 0 100%;
}

.form-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-btn{
    background-color: #B26F67;
    padding: 0.5rem 3rem;
    font-size: 1.1rem;
    border-radius: 5px;
    border: none;
    outline: none;
}

.indicator{
    width: 100%;
    height: 100%;
}

.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFF4F4;
}



/* side bar css */

.side-bar{
    height: 100vh;
    background-color: rgb(194, 194, 194);
}